<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
    <form action="/shorten" method="post">
      {% csrf_token %}
      <label for="url">URL to shorten:</label>
      <input type="text" name="url" id="url"/><br>
      <input type="submit" value="Shorten URL"/>
    </form>
    (Please note that you must include the protocol http or https to get redirected to a site not in this domain. Example: https://www.google.fi)
    <br>
    After clicking the button you will be presented with the ID you can use to access the given full URL. Use /get/THE_ID as the PATH (http://localhost:8000/get/THE_ID)
    <br>
	</body>
</html>
