<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
    <form action="/shorten" method="post">
      {% csrf_token %}
      <label for="url">URL to shorten:</label>
      <input type="text" name="url" id="url"/><br>
      <input type="submit" value="Shorten URL"/>
    </form>
    <br>
    {% if full_URL and short_id %}
    Given URL: {{full_URL}}
    <br>
    Shortened: {{short_id}}
    <br>
    (To get redirected to the URL use get/{{short_id}} as the PATH. Example: http://127.0.0.1:8000/get/GENERATED_ID)
    {% else %}
    Enter a URL to be shortened to the above field.
    {% endif %}
	</body>
</html>